table {
  margin: 0 0 0 35px;
  border-spacing: 0;
  width: 1200px;
  tr {
    :last-child {
      td {
        border-bottom: 0;
      }
    }
  }

  th,
  td {
    margin: 0;
    padding: 0.5rem;
    border: 1px solid rgb(174, 174, 174);
    :last-child {
      border-right: 0;
    }
    input {
      border: 0;
    }
    select {
      border: 0;
    }
  }
}
thead {
  background-color:rgba(0, 0, 0, 0.1)
}

.btns {
  margin: 20px 0 10px 36px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  &__delete,
  &__add {
    background-color: white;
    font-size: 18px;
    width: 120px;
    height: 35px;
    font-weight: 500;
    border: 0px solid;
    cursor: pointer;
    color: black;
    border: 2px solid #ffd754ec;
    box-shadow:0px 0px 0.5px 1px #f6f3f3;
    &:hover {
      background-color: #ffd754ec;
      transition: all 0.35s ease 0s;
    }
  }
}

.pagination {
  margin: 10px 0 0 36px;
}

.table {
  &__column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    &-img {
      width: 100%;
    }
  }
}

table .toggle-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

th:nth-child(5) > div:nth-child(2) {
  display: flex;
  justify-content: center;
}

tbody > tr > td > div {
  display: flex;
  justify-content: center;
}

tbody > tr > td {
  text-align: center;
}

